jwt_token_of_first_login = 
        "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2OWJkOTM5NzYwMDdhNzE0NzQ0ZWJiNTIiLCJyb2xlIjoic3R1ZGVudCIsImlhdCI6MTc3NDAzMzE3MSwiZXhwIjoxNzc0MTE5NTcxfQ.eneT071uL5IlukBkAHpUNe3b9_d3KQLpcQNSorMSu_k",
